<div class="container">
  <h1 class="mb-4 pt-4"><%= @movie.name %></h1>
  <hr>
  <div class="movie d-flex mb-4 justify-content-between">
    <div class="text">
      <h5><%= movie.title %></h5>
      <p><%= movie.overview %></p>
      <p>Rating: <%= movie.rating %></p>
    </div>
    <img class="" src="<%= movie.poster_url %>" alt="Film poster">
  </div>
</div>
